ENV=loc
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/suppor
SPRING_DATASOURCE_USERNAME=postgres-user-test
SPRING_DATASOURCE_PASSWORD=postgres-pwd-test
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_CORS_ORIGINS=http://localhost:8086,http://support:8086
